.Container{
    width: 90%;
    display: inline-block;
    position: relative;
    left: 5%;
    margin: 40px auto;
    background-color: white;
    border-radius: 1%;
    padding: 30px;
    border: 3px solid #ccc;
    text-align: center;
}
.ProfileImage{
    position: relative;
    max-width: 300px;
    border: 1px solid black;
    border-radius: 5%;
    
}
.Form{
    padding: 10px
}

@media(min-width: 400px){
 
}